mat-card {
  padding: 12px;
}

mat-card-header {
  padding: 8px 0;
  margin-bottom: 8px;
}

.movie-image {
  aspect-ratio: 16/9;
  object-fit: cover;
}

mat-card-content {
  padding: 8px 0;
}

.synopsis {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 8px;
}

.movie-info {
  display: flex;
  gap: 12px;
  margin-top: 8px;
}

mat-card-actions {
  padding: 8px 0;
  margin: 0;
}
