.app-container {
  min-height: 100vh;
  overflow-x: hidden;
  padding-bottom: 8rem;
}

.toolbar-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
  box-sizing: border-box;
}

.app-tabs {
  max-width: 500px;
}

.watchlist-badge {
  margin-left: 8px;
}
