<div class="movie-search-container">
  <app-movie-search [initialQuery]="restoredQuery" (searchEvent)="onSearch($event)"></app-movie-search>
  
  
  @if (!loading && movies.length > 0) {
    <div class="pagination-controls">
      <mat-form-field appearance="outline">
        <mat-label>Results per page</mat-label>
        <mat-select [(ngModel)]="pageSize" (selectionChange)="onPageSizeChange()">
          <mat-option *ngFor="let option of pageSizeOptions" [value]="option">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  }
  
  <app-movie-results 
    [movies]="movies" 
    [loading]="loading" 
    [error]="error"
    (addToWatchlist)="onAddToWatchlist($event)">
  </app-movie-results>
  
  
  @if (!loading && movies.length > 0) {
    <mat-paginator
    [length]="totalResults"
    [pageSize]="pageSize"
    [pageIndex]="pageIndex"
    [pageSizeOptions]="pageSizeOptions"
    (page)="onPageChange($event)"
    showFirstLastButtons>
    </mat-paginator>
  }
</div>
